/*@use '@angular/material' as mat;


@include mat.core();

// Definição das paletas de cores
$custom-app-primary: mat.define-palette(mat.$purple, 50);
$custom-app-secondary: mat.define-palette(mat.$deep-purple, A200, A400, 700);
$custom-app-warn: mat.define-palette(mat.$red, A700);
//#$custom-app-primary: mat-palette($mat-Purple 50);
//#$custom-app-secondary: mat-palette($mat-DeepPurple A200, A400, 700);
//#$custom-app-warn: mat-palette($mat-red A700);


// Definição do tema
$custom-theme: mat.define-light-theme((
  color: (
    primary: $custom-app-primary,
    accent: $custom-app-secondary,
    warn: $custom-app-warn,
  )
));
//$custom-theme: mat-light-theme($custom-app-primary, $custom-app-secondary, $custom-app-warn);


// Aplica o tema em todos os componentes
@include mat.all-component-themes($custom-theme);
//@include angular-material-theme($custom-theme);

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }*/

@use '@angular/material' as mat;

@include mat.core();

// Definição das paletas de cores
$custom-app-primary: mat.m2-define-palette(mat.$m2-purple-palette, 500); // Corrigido para mat.$purple-palette
$custom-app-secondary: mat.m2-define-palette(mat.$m2-deep-purple-palette, A200, A400, 700); // Corrigido para mat.$deep-purple-palette
$custom-app-warn: mat.m2-define-palette(mat.$m2-red-palette, A700); // Corrigido para mat.$red-palette

// Definição do tema
$custom-theme: mat.m2-define-dark-theme((
  color: (
    primary: $custom-app-primary,
    accent: $custom-app-secondary,
    warn: $custom-app-warn,
  )
));

// Aplica o tema em todos os componentes
@include mat.all-component-themes($custom-theme);

// Estilos globais
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
